@import './reset.css';

:root {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.userCard{
  max-width: 270px;
  display: flex;
  flex-flow: column;
  margin: 0 50px;
}

.userName{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.userPosition{
  font-size:14px;
  color: #e84545;
  margin-bottom: 30px;
}

.cardDescription{
  font-size:14px;
  color: gray;
  line-height: 22.4px;
}

.userContacts{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
